<odoo>
    <data>

        <!-- *** ACCIONS - CINEMA *** -->
        <record model="ir.actions.act_window" id="action_cinema_pelicula">
            <field name="name">Pel·lícules</field>
            <field name="res_model">cinema.pelicula</field>
            <field name="view_mode">list,form</field>
        </record>

        <record model="ir.actions.act_window" id="action_cinema_director">
            <field name="name">Directors</field>
            <field name="res_model">cinema.director</field>
            <field name="view_mode">list,form</field>
        </record>

        <record model="ir.actions.act_window" id="action_cinema_actor">
            <field name="name">Actors</field>
            <field name="res_model">cinema.actor</field>
            <field name="view_mode">list,form</field>
        </record>

        <record model="ir.actions.act_window" id="action_cinema_genere">
            <field name="name">Gèneres</field>
            <field name="res_model">cinema.genere</field>
            <field name="view_mode">list,form</field>
        </record>

        <!-- *** MENUS - CINEMA *** -->
        <menuitem id="cinema_menu_root" name="Cinema"/>
        <menuitem id="cinema_menu_gestion" name="Gestió Cinema" parent="cinema_menu_root"/>

        <menuitem id="cinema_menu_pelicula" name="Pel·lícules" parent="cinema_menu_gestion"
            action="action_cinema_pelicula"/>
        <menuitem id="cinema_menu_director" name="Directors" parent="cinema_menu_gestion"
            action="action_cinema_director"/>
        <menuitem id="cinema_menu_actor" name="Actors" parent="cinema_menu_gestion"
            action="action_cinema_actor"/>
        <menuitem id="cinema_menu_genere" name="Gèneres" parent="cinema_menu_gestion"
            action="action_cinema_genere"/>

    </data>
</odoo>